.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../i/ajax-loader.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}
.top_path ul{
    width:100%;
}
.top_path ul > li {
    padding: 0 10px;
    min-width: 9%;
}
.top_path ul > li > a{
    text-align: center;
}
.top_path ul > li.divider-vertical {
    padding: 0;
    min-width: 0;
}
.top_path .label{
    vertical-align: top;
}
.dl-horizontal dt {
    width: 170px;
}
.dl-horizontal dd {
    margin-left: 190px;
}
th.th-centered{
    text-align: center;
}
blockquote.red {
    border-color: #B94A48;
}
ul.upper_case li{
    text-transform: uppercase;
}
.no_shadow_print h4, .no_shadow_print h5{
    text-align: center;
}
.navbar{
    min-width:1170px;
}
.captcha{
    border: 1px solid #CCC;
}
input#captcha_1{
    width: 56px;
}
.no-vmargin{
    margin-top:0!important;
    margin-bottom: 0!important;
}
#doc_example{
    position: absolute;
    right: 30%;
    top: -50px;
}
#doc_example_modal{
    width: inherit;
}
#doc_example_modal .modal-body{
    max-height: 720px;
}
input.day_month{
    width: 17px;
}
input.year{
    width: 33px;
}
.inline{
    display: inline;
}
ul.inline>li>label{
    display: inline;
}
.well .table{
    margin-bottom: 5px;
}
.search-form .control-label {
    float: left;
    width: 210px;
    padding-top: 5px;
    text-align: right;
}
.search-form .controls {
    margin-left: 230px;
}