Flask
Flask-Babel
#Beaker
#Flask-Beaker
Flask-Login
Flask-Principal
Flask-SQLAlchemy
Flask-Mail
wtforms
Flask-WTF
alembic
pillow
simplejson
pytz
suds
sqlalchemy
fabric
dateutils
mysql-python
beaker
Flask-Beaker
#lxml

-r pysimplelogs/requirements.txt