<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container nav-collapse collapse">
        <ul class="nav" id="cur_modules">
          <li>
              <div class="btn-group">
                <a class="btn btn-small btn-inverse" href="{{ url_for('index') }}" title="Главная страница"><i class="icon-home icon-white"></i></a>
                <a id="gen_settings" class="btn btn-small btn-inverse"  href="{{ url_for('settings') }}" title="Настройки"><i class="icon-wrench icon-white"></i> Настройки</a>
                <a id="users" class="btn btn-small btn-inverse"  href="{{ url_for('users') }}" title="Пользователи"><i class="icon-user icon-white"></i> Пользователи</a>
              </div>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
              <div class="btn-group">
                <a id="logout" class="btn btn-small btn-inverse" href="{{ url_for('logout') }}" title="Выйти"><i class="icon-ban-circle icon-white"></i></a>
              </div>
          </li>
        </ul>
    </div>
  </div>
</div>