{% extends 'base.html' %}

{% block title %} > Настройки{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <legend>Настройки</legend>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-success">
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% for field in form %}
            {% if field.type != "CSRFTokenField" %}
                <div class="control-group">
                    <label class="control-label">{{ field.description|safe }}</label>
                    <div class="controls" style="position: relative;">
                        {% if field.type in ('StringField', 'SelectField') %}
                            {{ field(class="span4", title="Необходимо заполнить это поле!") }}
                        {% elif field.type in ('TextAreaField') %}
                            {{ field(class="span10", rows="7", title="Необходимо заполнить это поле!") }}
                        {% elif field.type in ('FileField') %}
                            {{ field(class="span4", title="Необходимо заполнить это поле!") }}
                            {% if field.data %}
                                <div style="position: absolute; right:40%; top: -50px;">
                                    <img src="{{ url_for('static', filename='i/%s'|format(field.data)) }}">
                                </div>
                            {% endif %}
                        {% else %}
                            {{ field(title="Необходимо заполнить это поле!") }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success btn-large">Сохранить</button>
                <a href="{{ url_for('index') }}" class="btn btn-large">Отменить</a>
            </div>
        </div>
    </form>
{% endblock %}