django==1.4.1
redis==2.7.1

simplejson==2.6.2
pytz
suds==0.4
south
django-simple-captcha
django-livesettings
django-keyedcache
PIL #http://obroll.com/install-python-pil-python-image-library-on-ubuntu-11-10-oneiric/
mysql-python
