html, body {height: 100%;}
#bottom, #push {height:60px;}
#footer {height:60px;}
#wrap {
    min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px;
}
#wrap > #container {
    /*padding-top: 10px;*/
}

body{
    font-size: 22px;
}
@media (max-width: 979px) and (min-width: 798px){
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 95%;
}
}

.no-vmargin{
    margin-top:0!important;
    margin-bottom: 0!important;
}
.btn-large{
    font-size: 28px;
    line-height: 28px;
}
.menu, .menu > li{
    margin-bottom: 10px;
}
.menu a.btn-large{
    width: 100%;
    line-height: 30px;
}
.btn-large [class^="icon-"], [class*=" icon-"] {
margin-top: 7px;
}

blockquote.red {
    border-color: #B94A48;
}
blockquote{
    line-height: 24px;
}
th.text-center {
    text-align: center!important;
}
table.no-border td, table.no-border th{
    border: none;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
table#days caption{
    margin: 0 5px;
}
input[type="text"]{
    height: 40px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 30px;
}
.keyboard{
    margin-bottom: 30px;
}
input[readonly]{
    background-color: #fff;
}
.small-text{
    font-size: 14px;
}
input.day_month{
    width: 40px;
}
input.year{
    width: 70px;
}
.form-horizontal .control-group, .control-group{
    margin-bottom: 0;
}