<html>
    <head>
        <style type="text/css">
            body {color:#45494a; font:normal 14px Verdana, Arial, Helvetica, sans-serif;}
            table {border: 1px solid #000000; border-radius: 10px;}
            table tr th {text-align: center;}
            table tr td {text-align: justify; vertical-align: top; margin: 5px;}
        </style>
    </head>

    <body>
        <table>
            <tr><th colspan="3">УВЕДОМЛЕНИЕ О ЗАПИСИ НА ПРИЕМ №{{ session.get('ticket_uid') }}</th></tr>
            <tr><td>ФИО (Пациент):</td><td colspan="2">{{ data['lastname'] }} {{ data['firstname'] }} {{ data['patronymic'] }}</td></tr>
            <tr><td>Дата рождения:</td><td colspan="2">{{ data['day'] }}.{{ data['month'] }}.{{ data['year'] }} г.</td></tr>
            {% if data.get('client_id') %}
            <tr><td>№ Амбулаторной карты:</td><td colspan="2">{{ data.get('client_id') }}</td></tr>
            {% else %}
            {% if data['document_type'] == 'policy_type_2' %}
            <tr><td>Полис ОМС:</td><td colspan="2">{% if data['series'] %}{{ data['series'] }} {% endif %}{{ data['number'] }}</td></tr>
            {% endif %}
            {% if data['document_type'] == 'policy_type_4' %}
            <tr><td>Полис ОМС:</td><td colspan="2">{{ data['policy_number'] }}</td></tr>
            {% endif %}
            {% if data['document_type'] == 'policy_type_1' %}
            <tr><td>Полис ОМС (временное свидетельство):</td><td colspan="2">{{ data['policy_number'] }}</td></tr>
            {% endif %}
            {% if data['document_type'] == 'policy_type_3' %}
            <tr><td>Полис ДМС:</td><td colspan="2">{% if data['series'] %}{{ data['series'] }} {% endif %}{{ data['number'] }}</td></tr>
            {% endif %}
            {% if data['document_type'] == 'doc_type_7' %}
            <tr><td>Военный билет:</td><td colspan="2">{% if data['doc_series'] %}{{ data['doc_series'] }} {% endif %}{{ data['doc_number'] }}</td></tr>
            {% endif %}
            {% if data['document_type'] == 'doc_type_4' %}
            <tr><td>Удостоверение личности офицера:</td><td colspan="2">{% if data['doc_series'] %}{{ data['doc_series'] }} {% endif %}{{ data['doc_number'] }}</td></tr>
            {% endif %}
            {% endif %}
            <tr><th colspan="3">ВЫ ЗАПИСАНЫ НА ПРИЕМ:</th></tr>
            <tr><td>Лечебное учреждение:</td><td colspan="2">{{ lpu.name }}, {% if lpu|attr('buildings') and lpu.buildings[0] %}{{ lpu.buildings[0]|attr('name') }}{% if lpu.buildings[0]|attr('address') %} ({{ lpu.buildings[0]|attr('address') }}){% endif %}{% if lpu.buildings[0]|attr('phone') %}, телефон: {{ lpu.buildings[0]|attr('phone') }}{% endif %}{% endif %}</td></tr>
            <tr><td>Врач:</td><td colspan="2">
                {% set doctor=session.get('doctor') %}
                {% set office=session.get('office') %}
                {{ doctor['lastName'] }} {{ doctor['firstName'] }} {{ doctor['patronymic'] }}{% if office %} (кабинет: {{ office }}){% endif %}<br/>({{ doctor.get('speciality') }})
            </td></tr>
            <tr><td>Дата и время приёма:</td><td colspan="2">{{ session.get('date', '') }} {{ session.get('start_time', '') }} - {{ session.get('finish_time', '') }}</td></tr>
            <tr><th colspan="3">ВНИМАНИЕ:</th></tr>
            <tr><td colspan="3">В случае невозможности посещения врача в указанное время, пожалуйста, сообщите об этом лечебному учреждению по контактным данным, указанным в настоящем уведомлении, или отмените запись, воспользовавшись ссылкой: <a href="{{ dequeue_link }}">{{ dequeue_link }}</a>.</td></tr>
            <tr><td colspan="3">С настоящим уведомлением необходимо обратиться в регистратуру лечебного учреждения не менее чем за 15 минут до указанного времени приёма.</td></tr>
        </table>
    </body>
</html>
