<!DOCTYPE html>
<html lang="ru">
	<head>
        <meta content="ru-ru" http-equiv="Content-Language" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" />
        <title>Страница не найдена</title>
	</head>
	<body>
    <div class="container">
    <section>
		{% block content %}
        <legend><h3>Страница не найдена</h3></legend>
        <p>Извините, запрошенная вами страница не найдена.</p>
        <h4><a href="{{ url_for('site.index') }}" title="На главную страницу">На главную</a></h4>
        {% endblock %}
    </section>
	</div>
      <div class="loader"></div>
        {% if counter %}
        <div id="counter">{{ counter|safe }}</div>
        {% endif %}
	</body>
</html>