<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Страница недоступна</title>
</head>

<body>
<legend><h3>Страница недоступна</h3></legend>
<p>Извините, запрошенная страница недоступна из-за неполадок на сервере.</p>
<p>Инженеры извещены, зайдите, пожалуйста, попозже.</p>
<h4><a href="{% url index %}" title="На главную страницу">Вернуться на главную страницу</a></h4>
</body>
</html>
