{% extends "site/base.html" %}

{% block content %}
    {% if region_list%}
    <div class="alert alert-info"><h4>Укажите населенный пункт</h4>Выберите регион и населенный пункт, в котором предполагается посетить медицинское учреждение</div>
    <div class="row-fluid">
        {%- for columns in region_list|slice(3) -%}
        <div class="span4">
            <ul class="nav nav-tabs nav-stacked">
            {%- for region in columns -%}
            <li><a href ="{{ url_for('.lpu', okato=region.code) }}"><h4>{{ region.name }}</h4></a></li>
            {%- endfor -%}
            </ul>
        </div>
        {%- endfor -%}
    </div>
    <p class="pull-right">
        <a href="{{ url_for('.search') }}" class="btn btn-large" title="Поиск врача"><i class="icon-search"></i> Поиск врача</a>
        <a href="{{ url_for('.search_lpu') }}" class="btn btn-large" title="Поиск ЛПУ"><i class="icon-search"></i> Поиск мед. учреждения</a>
{#        <a href="{{ url_for('.patient_tickets') }}" class="btn btn-large" title="Поиск существующих записей на приём к врачу"><i class="icon-search"></i> Мои записи</a>#}
    </p>
    <!-- Modal -->
    <div id="old_browser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Ваш браузер устарел!</h3>
        </div>
        <div class="modal-body">
            <div id="bad_browser">
              <div id="head" class="head"></div>
              <div id="wrap"><div id="content">
                Для работы с сайтом необходима поддержка Javascript и Cookies.
                <div>
                  Чтобы использовать все возможности сайта, загрузите и установите один из этих браузеров:
                  <div id="browsers" style="width: 480px;">
                      <a href="http://www.google.com/chrome/" target="_blank" style="background: url('{{ url_for('.static', filename='i/chrome.png') }}') no-repeat 50% 17px;">Chrome</a>
                      <a href="http://www.opera.com/" target="_blank" style="background: url('{{ url_for(".static", filename="i/opera.png") }}') no-repeat 50% 15px;">Opera</a>
                      <a href="http://www.mozilla-europe.org/" target="_blank" style="background: url('{{ url_for(".static", filename="i/firefox.png") }}') no-repeat 50% 17px;">Firefox</a>
                      <a href="http://support.apple.com/ru_RU/downloads#safari" target="_blank" style="background: url('{{ url_for(".static", filename="i/safari.png") }}') no-repeat 50% 17px;">Safari</a>
                  </div>
                </div>
              </div></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Оставить устаревший браузер</button>
        </div>
    </div>
    {% else %}
        <div class="alert alert-error">Извините, на сайте ведутся работы по настройке, попробуйте зайти на сайт позже.</div>
    {% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('.static', filename='js/bdetect-1.1.js') }}"></script>
<script type="text/javascript">
    function bdetect(){
        var chrome = 20;
        var safari = 5;
        var msie = 8;
        var opera = 12;
        var firefox = 17;

        var browser = getBrowser(1);
        var browserName = browser[0];
        var browserVer = browser[1];
        var browserVerPoints = browser[2];
        browserVer = parseFloat(browserVer+"."+browserVerPoints);
        switch (browserName) {
            case 'Chrome':
                if (browserVer >= chrome){
                    return false;
                }else {
                    break;
                }
            case 'Safari':
                if (browserVer >= safari){
                    return false;
                } else{
                    break;
                }
            case 'MSIE':
                if (browserVer >= msie){
                    return false;
                } else {
                    break;
                }
            case 'Opera':
                if (browserVer >= opera){
                    return false;
                } else {
                    break;
                }
            case 'Firefox':
                if (browserVer >= firefox){
                    return false;
                }else{
                    break;
                }
        }
        $('#old_browser').modal('show');
    }
    window.onload = bdetect;
</script>
{% endblock %}