{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        {% for region in region_list %}
        {% if forloop.first %}
        <div class="span4">
            <ul class="nav nav-tabs nav-stacked">
        {% endif %}
        {% if loop.index0 in break_keys %}
            </ul>
        </div>
        <div class="span4">
            <ul class="nav nav-tabs nav-stacked">
        {% endif %}
                <li>
                    <a href ="{{ url_for('medical_institution') }}{{ region.code }}/">
                        <h4>{{ region.name }}</h4>
                    </a>
                </li>
        {% if loop.last %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <p class="pull-right">
        <a href="{% url medical_institution %}search/" class="btn btn-primary btn-large" title="Поиск ЛПУ">Поиск ЛПУ</a>
    </p>
{% endblock %}