{% extends "site/base.html" %}

{% block content %}
<div class="alert alert-info"><h4>Выбор ЛПУ</h4>Выберите медицинское учреждение из списка ниже.</div>
<div class="row-fluid">
    <div class="span12">
        <ul id="search_table" class="nav nav-tabs nav-stacked upper_case">
        {% if hospitals_list %}
            {% for hospital in hospitals_list %}
            <li><a href="{{ url_for('.division', lpu_id=hospital.uid) }}">{{ hospital.name }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>
<a href="{{ url_for('.index') }}" class="btn btn-large" title="На главную страницу"><i class="icon-arrow-left"></i> На главную</a>
<p class="pull-right">
    <a href="{{ url_for('.search', region_id=request.view_args.get('okato')) }}" class="btn btn-large" title="Поиск врача"><i class="icon-search"></i> Поиск врача</a>
</p>
{% endblock %}