{% extends "site/base.html" %}

{% block content %}
<div class="alert alert-info"><h4>Поиск медицинского учреждения</h4>Задайте параметры поиска</div>
<div class="well well-small">
    <div class="row-fluid">
        <div class="span6">
            <form id="form" action="" method="post" name="frm" class="form-horizontal search-form no-vmargin">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="search_lpu">Медицинское учреждение:</label>
                        <div class="controls">
                            <input type="text" name="search" id="search_lpu" maxlength="100" class="input-block-level" onkeyup="searchLpu()" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="search_gorod">Город:</label>
                        <div class="controls">
                            <input type="text" name="search" id="search_gorod" maxlength="100" class="input-block-level" onkeyup="searchGorod()" value="{{ current_region }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="search_rayon">Район:</label>
                        <div class="controls">
                            <input type="text" name="search" id="search_rayon" maxlength="100" class="input-block-level" onkeyup="searchRayon()" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <ul id="search_table" class="nav nav-tabs nav-stacked upper_case">
        {% if hospitals_list %}
            {% for hospital in hospitals_list %}
            <li><a href="{{ url_for('.division', lpu_id=hospital.uid) }}">{{ hospital.name }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>
<a href="{{ url_for('.index') }}" class="btn btn-large"><i class="icon-arrow-left"></i> Вернуться</a>
<p class="pull-right">
    <a href="{{ url_for('.search') }}" class="btn btn-large" title="Поиск врача"><i class="icon-search"></i> Поиск врача</a>
</p>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Запись online невозможна</h3>
    </div>
    <div class="modal-body">
        <p>Запись к специалистам ПОКБ им. Н.Н. Бурденко осуществляется врачами в ЛПУ по месту жительства.</p>
    </div>
</div>
<!-- Modal -->
<div id="gor2Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="gor2ModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="gor2ModalLabel">Запись на приём в<br>ГБУЗ «Городская больница № 2»</h3>
    </div>
    <div class="modal-body">
        <p>Для записи на прием перейдите по <a href="{{ url_for('.division', lpu_id=16) }}">ссылке</a>.</p>
    </div>
</div>
<!-- Modal -->
<div id="lpu8Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lpu8ModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="lpu8ModalLabel">Запись на приём в<br>ГБУЗ «Центр по профилактике и борьбе со СПИД и инфекционными заболеваниями»</h3>
    </div>
    <div class="modal-body">
        <p>Для записи на прием перейдите по <a href="{{ url_for('.division', lpu_id=3) }}">ссылке</a>.</p>
    </div>
</div>
<!-- Modal -->
<div id="lpu36Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lpu36ModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="lpu36ModalLabel">Запись на приём в<br>ГБУЗ «Малосердобинская ЦРБ»</h3>
    </div>
    <div class="modal-body">
        <p>Для записи на прием перейдите по <a href="{{ url_for('.division', lpu_id=33) }}">ссылке</a>.</p>
    </div>
</div>
<!-- Modal -->
<div id="lpu28Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lpu28ModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="lpu28ModalLabel">Запись на приём в<br>ГБУЗ «Вадинская ЦРБ»</h3>
    </div>
    <div class="modal-body">
        <p>Для записи на прием перейдите по <a href="{{ url_for('.division', lpu_id=40) }}">ссылке</a>.</p>
    </div>
</div>
<!-- Modal -->
<div id="lpu42Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lpu42ModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="lpu42ModalLabel">Запись на приём в<br>ГБУЗ «Пачелмская ЦРБ»</h3>
    </div>
    <div class="modal-body">
        <p>Для записи на прием перейдите по <a href="{{ url_for('.division', lpu_id=40) }}">ссылке</a>.</p>
    </div>
</div>
<!-- Modal -->
<div id="lpu9Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lpu9ModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="lpu9ModalLabel">Запись online невозможна</h3>
    </div>
    <div class="modal-body">
        <p>Запись к специалистам ГБУЗ «Пензенская областная офтальмологическая больница» осуществляется врачами в ЛПУ по месту жительства.</p>
    </div>
</div>
    <script type="text/javascript">
        function searchLpu() {
            $("#search_table").html("");
            var search_lpu = $('#search_lpu').val();
            var search_gorod = $('#search_gorod').val();
            var search_rayon = $('#search_rayon').val();
            if (!search_lpu && !search_gorod && !search_rayon){
                return false;
            }
            $.getJSON('{{ url_for('.ajax_search') }}', {search_lpu: search_lpu, search_gorod: search_gorod, search_rayon: search_rayon}, function(data) {
                var $items = [];
                $.each(data, function(key, val) {
                    if (key == '5'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#myModal\').modal();">' + val + '</a></li>');
                    }else if (key == '15'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#gor2Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '8'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu8Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '36'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu36Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '28'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu28Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '42'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu42Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '9'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu9Modal\').modal();">' + val + '</a></li>');
                    }else{
                        $items.push('<li><a href="{{ url_for('.division') }}' + key + '/">' + val + '</a></li>');
                    }
                });
                $("#search_table").html($items.join('')).fadeIn('fast');
            });
        }

        function searchGorod() {
            $("#search_table").html("");
            var search_lpu = $('#search_lpu').val();
            var search_gorod = $('#search_gorod').val();
            var search_rayon = $('#search_rayon').val();
            if (!search_lpu && !search_gorod && !search_rayon){
                return false;
            }
            $.getJSON('{{ url_for('.ajax_search') }}', {search_lpu: search_lpu, search_gorod: search_gorod, search_rayon: search_rayon}, function(data) {
                var $items = [];
                $.each(data, function(key, val) {
                    if (key == '5'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#myModal\').modal();">' + val + '</a></li>');
                    }else if (key == '15'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#gor2Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '8'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu8Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '36'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu36Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '28'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu28Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '42'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu42Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '9'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu9Modal\').modal();">' + val + '</a></li>');
                    }else{
                        $items.push('<li><a href="{{ url_for('.division') }}' + key + '/">' + val + '</a></li>');
                    }
                });
                $("#search_table").html($items.join('')).fadeIn('fast');
            });
        }

        function searchRayon() {
            $("#search_table").html("");
            var search_lpu = $('#search_lpu').val();
            var search_gorod = $('#search_gorod').val();
            var search_rayon = $('#search_rayon').val();
            if (!search_lpu && !search_gorod && !search_rayon){
                return false;
            }
            $.getJSON('{{ url_for('.ajax_search') }}', {search_lpu: search_lpu, search_gorod: search_gorod, search_rayon: search_rayon}, function(data) {
                var $items = [];
                $.each(data, function(key, val) {
                    if (key == '5'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#myModal\').modal();">' + val + '</a></li>');
                    }else if (key == '15'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#gor2Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '8'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu8Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '36'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu36Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '28'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu28Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '42'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu42Modal\').modal();">' + val + '</a></li>');
                    }else if (key == '9'){
                        $items.push('<li><a href="javascript:void(0);" onclick="$(\'#lpu9Modal\').modal();">' + val + '</a></li>');
                    }else{
                        $items.push('<li><a href="{{ url_for('.division') }}' + key + '/">' + val + '</a></li>');
                    }
                });
                $("#search_table").html($items.join('')).fadeIn('fast');
            });
        }
    </script>
{% endblock %}