{% extends "site/base.html" %}

{% block content %}
<div class="alert alert-info"><h4>Поиск врача</h4>Задайте параметры поиска</div>
<div class="well well-small">
    <div class="row-fluid">
        <div class="span8">
            <form id="search_form" action="{{ url_for('.search') }}" method="post" name="frm" class="form-horizontal search-form no-vmargin">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="region_filter">Муниципальное образование:</label>
                        <div class="controls">
                            <select name="region" id="region_filter" class="span12">
                            <option value="0">- любое -</option>
                            {% for region in region_list|sort(attribute='name') %}
                                <option value="{{ region.code }}"{% if request.view_args.get('okato') == region.code|string %} selected="selected"{% endif %}>{{ region.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lpu_filter">Медицинское учреждение:</label>
                        <div class="controls">
                            <select name="lpu" id="lpu_filter" class="span12">
                            <option value="">- любое -</option>
                            {% for hospital in hospitals|sort(attribute='name') %}
                                {% if hospital.id not in (5, 15, 8, 28, 36, 42) %}
                                <option value="{{ hospital.id }}"{% if '%s/0'|format(request.view_args.get('lpu_id')) == hospital.uid or '%s/0'|format(request.args.get('lpu_id')) == hospital.uid %} selected="selected"{% endif %}>{{ hospital.name }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="speciality">Специальность:</label>
                        <div class="controls">
                            <select id="speciality" class="span12">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="doctor">ФИО врача:</label>
                        <div class="controls">
                            <select id="doctor" class="span12">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group no-vmargin">
                        <div class="controls">
                            <button type="submit" class="btn btn-large btn-success"><i class="icon-search icon-white"></i> Найти</button>
                            <button type="reset" class="btn btn-large" id="reset">Очистить</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="row-fluid" id="search_result_row">
    <div class="alert alert-error hide" title="Ошибка поиска" id="error"></div>
    <div id="search_result"></div>
</div>
<a href="{{ request.referrer }}" class="btn btn-large"><i class="icon-arrow-left"></i> Вернуться</a>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    $(document).ready(function () {
        $("body").on({
            ajaxStart: function() {
                $(this).addClass("loading");
            },
            ajaxStop: function() {
                $(this).removeClass("loading");
            }
        });
        $("#speciality").select2();
        $("#doctor").select2();
    });
    var _doctors;
    function filter_lpu(okato){
        $.ajax({
            url: "{{ url_for('.get_lpu_list') }}" + okato,
            crossDomain: true,
            cache: false, // обязательно для IE
            dataType: 'json',
            success: function (data) {
                $('#lpu_filter')
                        .find('option[value!=""]')
                        .remove()
                        .end();
                if(data['result'].length > 0){
                    $.each(data['result'], function(key, value) {
                        if (value['id'] != 5 && value['id'] != 15 && value['id'] != 8 && value['id'] != 36 && value['id'] != 28 && value['id'] != 42){
                            $('#lpu_filter')
                                    .append($('<option>', { value : value['id'] })
                                    .text(value['name']));
                        }
                    });
                }
            }
        });
    }

    function update_doctors(doctors){
        _doctors = doctors;
        var str = "<option value=''> </option>";
        if(doctors.length > 0){
            $.each(doctors, function(key, value) {
                str += "<option>"+value['name']+"</option>";
            });
        }
        $('select#doctor').html(str);
    }

    function update_specialities(specialities){
        if(specialities.length > 0){
            var str = "<option value=''> </option>";
            $.each(specialities, function(key, value) {
                str += "<option>"+value+"</option>";
            });
            $('select#speciality').html(str);
        }
    }

    function get_person(lpu_id, speciality){
        var url = "{{ url_for('.get_lpu_doctors') }}" + lpu_id + "/";
        if (speciality){
            url += "?sp=" + speciality;
        }
        $.ajax({
            url: url,
            crossDomain: true,
            cache: false, // обязательно для IE
            dataType: 'json',
            success: function (data) {
                update_doctors(data['result']);
            }
        });
    }

    function get_specialities(lpu_id){
        $.ajax({
            url: "{{ url_for('.get_lpu_specialities') }}" + lpu_id + "/",
            crossDomain: true,
            cache: false, // обязательно для IE
            dataType: 'json',
            success: function (data) {
                update_doctors(data['doctors']);
                update_specialities(data['specialities']);
            }
        });
    }

    function find_doctor(fio){
        var doctor;
        if (_doctors && fio){
            $.each(_doctors, function(key, value) {
                if(value['name'] == fio){
                    doctor = value;
                }
            });
        }
        return doctor;
    }

    function show_doctors(doctors){
        if (doctors.length > 0){
            var html = "";
            $.each(doctors, function(key, value) {
                html += '<blockquote><p class="lead"><a href="' + value['schedule_href'] + '">'+ value['name'] +'</a> ' + value['speciality'] + '<small>' + value['hospital']['name'] + ' (' + value['hospital']['address'] + ')</small></p></blockquote>';
            });
            $('#search_result').html(html);
        } else {
            $('#error').text('По указанным данным врачей не найдено. Попробуйте уточнить параметры поиска.').show();
        }
        $('html, body').animate({
            scrollTop: $("#search_result_row").offset().top
        }, 1000);
    }

    $(document).ready(function(){
        var $region = $('select#region_filter');
        var $lpu = $('select#lpu_filter');
        var $speciality = $('select#speciality');
        var $speciality_chosen = $('#s2id_speciality .select2-chosen');
        var $doctor_chosen = $('#s2id_doctor .select2-chosen');
        var $doctor = $('select#doctor');
        var $error = $('#error');
        var $lpu_uid = $lpu.val();
        var old_specilality="";
{#        $speciality.typeahead();#}
{#        $doctor.typeahead();#}
        if ($lpu_uid){
            get_specialities($lpu_uid);
        }
        $region.change(function(){
            $('select#speciality').val('').trigger("change");
            $('select#doctor').val('').trigger("change");
            filter_lpu($(this).val());
        });
        $lpu.change(function(){
            $('select#speciality').val('').trigger("change");
            $('select#doctor').val('').trigger("change");
            if($(this).val()){
                get_specialities($(this).val());
            }
        });
        $speciality.focusin(function(){
            old_specilality = $speciality.val();
        });
        $doctor.change(function(){
            if ($(this).val()){
                $error.hide();
                $speciality.closest('.control-group').removeClass('error');
                $doctor.closest('.control-group').removeClass('error');
            }
        });
        $speciality.change(function(){
            if ($(this).val()){
                $speciality.closest('.control-group').removeClass('error');
                $doctor.closest('.control-group').removeClass('error');
            }
            if(old_specilality != $(this).val()){
                get_person($lpu.val(), $(this).val());
            }
        });
        $('#reset').click(function(){
            $('#search_result').html("");
            $('select#speciality').val('').trigger("change");
            $('select#doctor').val('').trigger("change");
        });
        $('#search_form').submit(function(event){
            $('#search_result').html("");
            event.preventDefault();
            $error.hide();
            var if_speciality = ($speciality_chosen.html() === "") || ($speciality_chosen.html() === " ") || ($speciality_chosen.html() === "&nbsp;");
            var if_doctor = ($doctor_chosen.html() === "") || ($doctor_chosen.html() === " ") || ($doctor_chosen.html() === "&nbsp;");
            if(if_speciality && if_doctor){
                $speciality.closest('.control-group').removeClass('success').addClass('error');
                $doctor.closest('.control-group').removeClass('success').addClass('error');
                $error.text('Необходимо указать специализацию или ФИО врача').show();
                return false;
            } else{
                $speciality.closest('.control-group').removeClass('error');
                $doctor.closest('.control-group').removeClass('error');
            }

            var doctors = [];
            if (!if_doctor){
                var doctor = find_doctor($doctor_chosen.html());
                if (doctor){
                    doctors.push(doctor);
                }
            }
            if (doctors.length > 0){
                show_doctors(doctors);
            } else {
                var lpu_id = $lpu.val();
                if (lpu_id){
                    lpu_id += "/";
                }
                var args = {};
                if (!if_speciality){
                    args['sp'] = $speciality_chosen.html();
                }
                if (!if_doctor){
                    args['fio'] = $doctor_chosen.html();
                }
                $.ajax({
                    url: "{{ url_for('.find_doctors') }}" + lpu_id,
                    crossDomain: true,
                    cache: false, // обязательно для IE
                    dataType: 'json',
                    type: 'POST',
                    data: args,
                    success: function (data) {
                        var result = []
                        $.each(data['result'], function(key, value) {
                            var hospital_uid = value['hospitalUid'].split('/')[0]
                            if (hospital_uid != 5 && hospital_uid != 15 && hospital_uid != 8 && hospital_uid != 36 && hospital_uid != 28 && hospital_uid != 42){
                                result.push(value)
                            }
                        });
                        show_doctors(result);
                    }
                });
            }
            return false;
        });
    });
    </script>
{% endblock %}