{% extends "site/base.html" %}

{% block content %}
<div class="alert alert-info"><h4>Выберите нужное свободное время из расписания врача, расположенного ниже</h4></div>
<blockquote class="red">
    <dl class="dl-horizontal">
        <dt>Лечебное учреждение:</dt><dd>{{ lpu.name }}</dd>
        {% if lpu|attr('buildings') and lpu.buildings[0] %}<dd>{{ lpu.buildings[0]|attr('name') }}{% if lpu.buildings[0]|attr('address') %} ({{ lpu.buildings[0]|attr('address') }}){% endif %}</dd>{% endif %}
        {% if lpu.phone %}<dt>Телефон:</dt><dd>{{ lpu.phone }}</dd>{% endif %}
        {% if lpu.email %}<dt>Электронная почта:</dt><dd><a href="mailto:{{ lpu.email }}">{{ lpu.email }}</a></dd>{% endif %}
        <dt>Специализация:</dt><dd>{{ doctor.get('speciality') }}</dd>
        <dt>Врач:</dt><dd>{% if doctor %}{{ doctor.get('lastName') }} {{ doctor.get('firstName') }} {{ doctor.get('patronymic') }}{% else %}&nbsp;{% endif %}</dd>
        {% if ticket_table and office is defined %}
            <dt>Кабинет:</dt><dd>{{ office }}</dd>
        {% endif %}
    </dl>
</blockquote>
<div class="row-fluid">
    <a href="{{ url_for('.tickets', lpu_id=lpu_id, department_id=department_id, doctor_id=doctor_id, start=prev_monday) }}" class="btn btn-info pull-left" title="Предыдущая неделя">Предыдущая неделя</a>
    <a href="{{ url_for('.tickets', lpu_id=lpu_id, department_id=department_id, doctor_id=doctor_id, start=next_monday) }}" class="btn btn-info pull-right" title="Следующая неделя">Следующая неделя</a>
</div>
<br>
{% if ticket_table or absences %}
<div class="well well-small">
    <table class="table table-condensed">
        <caption>
            <div class="row-fluid">
                <div class="span3 text-left"><p class="lead margin-bottom-10"><big>Расписание врача:</big></p></div>
                <div class="span4 offset5 text-right">
                    <button type="button" class="btn btn-mini btn-success">Свободно</button>
                    <button type="button" class="btn btn-mini btn-warning" title="Заблокирован на 10 минут другим пациентом">Заблокирован</button>
                    <button type="button" class="btn btn-mini btn-danger disabled">Занято</button>
                    <button type="button" class="btn btn-mini btn-inverse disabled">Приём окончен</button>
                </div>
            </div>
        </caption>
        <thead>
            <tr>
            {% for date in dates %}
                <th class="th-centered">
                    {{ date|dateformat('dd.MM.y') }}, {{ date|dateformat('E') }}.
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% if ticket_table %}
        {% for row in ticket_table %}
            {% set outer_loop = loop %}
            <tr>
                {% for _date, cell in row.iteritems() %}
                    {% if _date in absences and absences[_date] is iterable %}
                        {% if outer_loop.first %}
                            <td rowspan="{{ outer_loop.length }}" class="span2">
                                <span class="btn btn-block disabled black_text">Врач не принимает по причине: <strong>{{ absences[_date].name }}</strong></span>
                            </td>
                        {% endif %}
                    {% else %}
                        {% if cell and cell|attr('start') > now %}
                        <td class="{{ cell.status }}">
                        {% if cell.status == 'free' %}
                            {% if cell.start not in blocked.keys() %}
                            <a href="{{ url_for('.registration', lpu_id=lpu_id, department_id=department_id, doctor_id=doctor_id, d=cell.start|dateformat('yyyyMMdd'), s=cell.start|datetimeformat('HHmmss', rebase=False), f=cell.finish|datetimeformat('HHmmss', rebase=False)) }}" class="btn btn-block btn-success">{{ cell.start|datetimeformat('HH:mm', rebase=False) }}</a>
                            {% else %}
                            <a class="btn btn-block btn-warning blocked_ticket" data-uid="{{ blocked[cell.start]['ticket_uid'] }}" data-blocked="{{ blocked[cell.start]['block_until']|datetimeformat('HH:mm dd.MM.yyyy', rebase=False) }}">{{ cell.start|datetimeformat('HH:mm', rebase=False) }}</a>
                            {% endif %}
                        {% elif cell.status == 'locked' or cell.status == 'disabled' %}
                            <span class="btn btn-block btn-danger disabled">{{ cell.start|datetimeformat('HH:mm', rebase=False) }}</span>
                        {% else %}
                            <span class="btn btn-block btn-danger disabled{% if cell.start|datetimeformat('HH:mm', rebase=False) %} btn-inverse{% endif %}">{{ cell.start|datetimeformat('H:mm', rebase=False)|default("&nbsp;") }}</span>
                        {% endif %}
                        </td>
                        {% elif cell %}
                        <td align="center">
                            <span class="btn btn-block btn-danger disabled{% if cell.start|datetimeformat('HH:mm', rebase=False) %} btn-inverse{% endif %}">{{ cell.start|datetimeformat('H:mm', rebase=False)|default("&nbsp;") }}</span>
                        </td>
                        {% else %}
                        <td align="center">
                            <span class="btn btn-block disabled">&nbsp;</span>
                        </td>
                        {% endif %}
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% elif absences %}
            <tr>
            {% for date in dates %}
                {% set _date=date|dateformat('yyyyMMdd') %}
                {% if _date in absences and absences[_date] is iterable %}
                    <td class="span2">
                        <span class="btn btn-block disabled black_text">Врач не принимает по причине: <strong>{{ absences[_date].name }}</strong></span>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endif %}
            <tr>
                {% for date in dates %}
                    <th class="th-centered">
                        {{ date|dateformat('dd.MM.y') }}, {{ date|dateformat('E') }}.
                    </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% else %}
<legend>Расписание на текущую неделю отсутствует ({{ dates[0]|dateformat('dd.M.y') }} - {{ dates[6]|dateformat('dd.M.y') }})</legend>
{% endif %}
<p>
    <a href="{{ url_for('.division', lpu_id=lpu_id) }}" class="btn btn-large" title="Выбрать врача"><i class="icon-ok icon-arrow-left"></i> Выбрать врача</a>
</p>
<!-- Modal -->
<div id="block_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="block_modalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="block_modalLabel">Талон заблокирован</h3>
    </div>
    <div class="modal-body">
        <p>Выбранный Вами талон заблокирован другим пациентом до <b id="block_time"></b>.<br>
           По истечении времени блокировки талон может быть освобождён.<br>
           Вы можете выбрать любой другой свободный талон.</p>
    </div>
</div>
<!-- Modal -->
<div id="locked_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="locked_modalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="locked_modalLabel">Талон занят</h3>
    </div>
    <div class="modal-body">
        <p>Выбранный Вами талон занят другим пациентом.<br>
           Вы можете выбрать любой другой свободный талон.</p>
    </div>
</div>
<!-- Modal -->
<div id="disabled_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="disabled_modalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="disabled_modalLabel">Талон просрочен</h3>
    </div>
    <div class="modal-body">
        <p>Выбранный Вами талон просрочен.<br>
           Вы можете выбрать любой другой свободный талон.</p>
    </div>
</div>
<!-- Modal -->
<div id="success_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="success_modalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="success_modalLabel">Талон разблокирован</h3>
    </div>
    <div class="modal-body">
        <p>Выбранный Вами талон разблокирован.<br>
           Хотите ли Вы выбрать его для записи на приём?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Нет, выбрать другой</button>
        <a class="btn btn-success" id="choose_ticket">Да, выбрать этот</a>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
function blocked_ticket_worker($slot){
    $('#block_time').text($slot.attr('data-blocked'));
    var uid = $slot.attr('data-uid');
    $.ajax({
        url: "{{ url_for('.get_blocked_ticket') }}" + uid + '/',
        crossDomain: true,
        type: 'POST',
        cache: false,
        success: function(data){
              if(data['result']){
                  var ticket = data['result'];
                  if (ticket['status'] == 'blocked'){
                      $('#block_time').text(ticket['block_until']);
                      $('#block_modal').modal();
                  } else if(ticket['status'] == 'locked'){
                      $slot.removeClass('btn-warning').removeClass('blocked_ticket');
                      $slot.addClass('btn-danger').addClass('disabled');
                      $slot.unbind("click");
                      $('#locked_modal').modal();
                  } else if(ticket['status'] == 'disabled'){
                      $slot.removeClass('btn-warning').removeClass('blocked_ticket');
                      $slot.addClass('btn-inverse').addClass('disabled');
                      $slot.unbind("click");
                      $('#disabled_modal').modal();
                  } else if(ticket['status'] == 'free'){
                      $slot.removeClass('btn-warning').removeClass('blocked_ticket');
                      $slot.addClass('btn-success');
                      $slot.attr('href', ticket['url']);
                      $('#choose_ticket').attr('href', ticket['url']);
                      $slot.click(function(event){
                          free_ticket_worker($(this), event);
                      });
                  }
              }
          }
    });
}
function free_ticket_worker($slot, event){
    event.preventDefault();
    var url = $slot.attr('href');
    url = url.replace('{{ url_for('.registration') }}', '{{ url_for('.check_ticket') }}');
  $.ajax({
    url: url,
    crossDomain: true,
    type: 'POST',
    cache: false,
    success: function(data){
          if(data['result']){
              var ticket = data['result'];
              if (ticket['status'] == 'free'){
                  window.location.href = $slot.attr('href');
              } else if(ticket['status'] == 'locked'){
                  $slot.removeClass('btn-success').addClass('btn-danger').addClass('disabled');
                  $slot.unbind("click");
                  $slot.removeAttr('href');
                  $('#locked_modal').modal();
              } else if(ticket['status'] == 'disabled'){
                  $slot.removeClass('btn-success').addClass('btn-inverse').addClass('disabled');
                  $slot.unbind("click");
                  $slot.removeAttr('href');
                  $('#disabled_modal').modal();
              } else if(ticket['status'] == 'blocked'){
                  $slot.removeClass('btn-success').addClass('btn-warning').addClass('blocked_ticket');
                  $slot.removeAttr('href');
                  $slot.attr('data-uid', ticket['uid']);
                  $slot.attr('data-blocked', ticket['block_until']);
                  $('#block_time').text(ticket['block_until']);
                  $('#block_modal').modal();
                  $slot.click(function(){
                      blocked_ticket_worker($(this));
                  });
              }
          } else {
              window.location.href = $slot.attr('href');
          }
      }
    });
}
$(document).ready(function () {
    $('.blocked_ticket').click(function(){
        blocked_ticket_worker($(this));
    });
    $('.btn-success').click(function(event){
        free_ticket_worker($(this), event);
    });
});
</script>
{% endblock %}