{% extends "site/base.html" %}

{% block content %}
<style>
    form{margin:0;}
</style>
<blockquote>
    <dl class="dl-horizontal">
        <dt>Лечебное учреждение:</dt><dd>{{ lpu.name }}</dd>
        {% if lpu.address %}<dd>{{ lpu.address }}</dd>{% endif %}
        {% if lpu.phone %}<dt>Телефон:</dt><dd>{{ lpu.phone }}</dd>{% endif %}
        <dt>Специализация:</dt><dd>{{ doctor.speciality }}</dd>
        <dt>Врач:</dt><dd>{% if doctor %}{{ doctor.name.lastName }} {{ doctor.name.firstName }} {{ doctor.name.patronymic }}{% else %}&nbsp;{% endif %}</dd>
        {% if ticket_table %}
            <dt>Кабинет:</dt><dd>{{ office }}</dd>
        {% endif %}
    </dl>
</blockquote>
<legend>
<p>
    <div class="row-fluid">
        <div class="span3"><a href="{{ url_for('.tickets', lpu_id=lpu_id, department_id=department_id, doctor_id=doctor.uid, start=prev_monday) }}" class="btn btn-info" title="Предыдущая неделя">Предыдущая неделя</a></div>
        <div class="span3 offset6"> <a href="{{ url_for('.tickets', lpu_id=lpu_id, department_id=department_id, doctor_id=doctor.uid, start=next_monday) }}" class="btn btn-info pull-right" title="Следующая неделя">Следующая неделя</a></div>
    </div>
</p>
</legend>
{% if ticket_table %}
<div class="well well-large">
    <table class="table table-condensed">
        <caption>
            <div class="row-fluid">
                <div class="span3"><p class="lead"><big>Расписание врача:</big></p></div>
                <div class="span3 offset6">
                    <button type="button" class="btn btn-mini btn-success">Свободно</button>
                    <button type="button" class="btn btn-mini btn-danger disabled">Занято</button>
                    <button type="button" class="btn btn-mini btn-inverse disabled">Приём окончен</button>
                </div>
            </div>
        </caption>
        <thead>
            <tr>
            {% for date in dates %}
                <th class="th-centered">
                    {{ date|dateformat('d.M.y') }}, {{ date|dateformat('E') }}.
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in ticket_table %}
            <tr>
                {% for cell in row %}
                    {% if cell and cell|attr('start') > now %}
                    <td class="{{ cell.status }}">
                        <form action="{{ url_for('.registration', lpu_id=lpu_id, department_id=department_id, doctor_id=doctor.uid) }}" method="POST">
                        {% if cell.status == 'free' %}
                            <input type="hidden" name="ticket" value="{{ cell.start|dateformat('d.M.y') }}-{{ cell.start|datetimeformat('H:mm') }}-{{ cell.finish|datetimeformat('H:mm') }}">
                            <button type="submit" class="btn btn-block btn-success" name="tick_sub">{{ cell.start|datetimeformat('H:mm') }}</button>
                        {% elif cell.status == 'locked' or cell.status == 'disabled' %}
                            <button type="button" class="btn btn-block btn-danger disabled" name=ticket value="{{ cell.start|dateformat('d.M.y') }}-{{ cell.start|datetimeformat('H:mm') }}-{{ cell.finish|datetimeformat('H:mm') }}">
                                {{ cell.start|datetimeformat('H:mm') }}
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-block disabled{% if cell.start|datetimeformat('H:mm') %} btn-inverse{% endif %}" name="ticket" value="{{ cell.start|dateformat('d.M.y') }}-{{ cell.start|datetimeformat('H:mm') }}-{{ cell.finish|datetimeformat('H:mm') }}">{{ cell.start|datetimeformat('H:mm')|default("&nbsp;") }}</button>
                        {% endif %}
                    {% elif cell %}
                        <td align="center">
                        <button type="button" class="btn btn-block disabled{% if cell.start|datetimeformat('H:mm') %} btn-inverse{% endif %}" name="ticket" value="{{ cell.start|dateformat('d.M.y') }}-{{ cell.start|datetimeformat('H:mm') }}-{{ cell.finish|datetimeformat('H:mm') }}">{{ cell.start|datetimeformat('H:mm')|default("&nbsp;") }}</button>
                    {% else %}
                        <td align="center">
                        <button type="button" class="btn btn-block disabled" name="ticket">&nbsp;</button>
                    {% endif %}
                    </form>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
            <tr>
                {% for date in dates %}
                    <th class="th-centered">
                        {{ date|dateformat('d.M.y') }}, {{ date|dateformat('E') }}.
                    </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</form>
</div>
{% else %}
<legend>Расписание на текущую неделю отсутствует ({{ dates[0]|dateformat('d.M.y') }} - {{ dates[6]|dateformat('d.M.y') }})</legend>
{% endif %}
<p>
    <a href="{{ url_for('.division', lpu_id=lpu_id) }}" class="btn btn-primary btn-large" title="Назад">Вернуться</a>
</p>
{% endblock %}