<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<p><a href="{% url index %}">1.МО</a>|
    <a href="{% url lpu okato='0' %}">2.ЛПУ</a>|
    <a href="{% url podrazdelenie podrazd='0' %}">3.Подразделение</a>|
    <a href="{% url specializaciya spec='0' %}">4.Специализация</a>|
    <a href="{% url vrach %}">5.Врач</a>|
    <a href="">6.Время</a>|
    <a href="">7.Пациент</a>|
    <a href="">8.Запись</a></p>


<b>ШАГ - {{ step }}</b>
</br>

{% block content %}
{% endblock %}

</html>