{% extends "base.html" %}


{% block content %}

<form id="form" action="" method="post" name="frm">
    <fieldset>
        <div align="center">
            <input type="text" name="search" id="txtSearch" maxlength="100" size="100" value="Наименование ЛПУ" onfocus="if(this.value=='Наименование ЛПУ') this.value='';" onBlur="if(this.value=='') this.value='Наименование ЛПУ';" onkeyup="searchOpen()" />
        </div>
        <br />
        <table class="new">
        </table>
    </fieldset>
</form>

{% if hospitals_list %}
<br />
<p>
    Муниципальное образование: {{ current_region }}
</p>

<table>
    <tr>
        <td>
        {% for hospital in hospitals_list %}
            <a href="{% url podrazdelenie %}{{ hospital.uid|slice:":2"|cut:"/" }}/">
                {{ hospital.title }}
            </a>
        {% endfor %}
        </td>
    </tr>
</table>
{% endif %}

<p>
    <a href="{% url mo %}">
        <img src="{{ STATIC_URL }}/static/images/btn_back_black.gif" alt="Назад">
    </a>
</p>



<script type="text/javascript">
    function searchOpen() {
        var search = $('#txtSearch').val();
        $.getJSON("/search/", {search: search}, function(data) {
            var $items = [];
            $.each(data, function(key, val) {
                $items.push('<tr><td><a href="/podrazdelenie/' + key + '/">' + val + '</a></td></tr>');
            });
            $('table.new tr').hide();
            $($items.join('')).fadeIn('fast').appendTo('table.new');
        });
    }
</script>

{% endblock %}