{% extends "base.html" %}


{% block content %}
<p><b>ЛПУ: {{ current_lpu.title }}</b></p>
<p>Телефон: {{ current_lpu.phone }}</p>
<p>E-Mail: {{ current_lpu.email }}</p>
<p>
    <ul>
        {% for podrazdelenie in podrazd_list %}
        <li>
            <a href="{% url specializaciya %}{{ podrazdelenie.1 }}">
                {{ podrazdelenie.0 }} ({{ podrazdelenie.0.address }})
            </a>
        </li>
        {% endfor %}
    </ul>
</p>
<p><a href="{% url lpu %}">Назад</a></p>
{% endblock %}