{% extends "base.html" %}


{% block content %}

<a name="top"></a>
<p>ЛПУ: {{ current_lpu.title }}</p>
<p>Телефон: {{ current_lpu.phone }}</p>
<p>E-Mail: {{ current_lpu.email }}</p>
<p>
<table class="commonTable">
    <tr>
        <td>
            <table class="firstTable">
                {% for podrazdelenie in podrazd_list %}
                <tr>
                    <td>
                        <a id="{{ podrazdelenie.1.0 }}" class="spec">
                            {{ podrazdelenie.0 }} ({{ podrazdelenie.1.1 }})
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table class="secondTable">

            </table>
        </td>
        <td>
            <table class="thirdTable">

            </table>
        </td>
    </tr>
</table>
</p>
<div id="ttt">
    <p>
        <a href="{% url lpu %}" class="container">
            <img src="{{ STATIC_URL }}/static/images/back_btn.gif" alt="Назад">
        </a>
    </p>
</div>

{% endblock %}