{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
<div class="span10 offset1 no_print">
<table class="no_shadow_print table">
    <thead>
    <tr><th colspan="3"><h4>УВЕДОМЛЕНИЕ О ЗАПИСИ НА ПРИЕМ №{{ ticketUid }}</h4></th></tr>
    </thead>
    <tbody>
    {% if message %}
        <tr><td colspan="3"><div class="alert"><strong>{{ message }}</strong></div></td></tr>
    {% endif %}
    <tr><th>ФИО (Пациент):</th><td colspan="2">{{ patientName }}</td></tr>
    <tr><th>Дата рождения:</th><td colspan="2">{{ birthday }} г.</td></tr>
    {% if client_id %}
    <tr><th>№ Амбулаторной карты:</th><td colspan="2">{{ client_id }}</td></tr>
    {% else %}
    {% if policy_type == '2' or policy_type == '4' %}
    <tr><th>Полис ОМС:</th><td colspan="2">{% if series %}{{ series }} {% endif %}{{ number }}</td></tr>
    {% endif %}
    {% if policy_type == '3' %}
    <tr><th>Полис ДМС:</th><td colspan="2">{% if series %}{{ series }} {% endif %}{{ number }}</td></tr>
    {% endif %}
    {% if document_code == '7' %}
    <tr><th>Военный билет:</th><td colspan="2">{% if series %}{{ series }} {% endif %}{{ number }}</td></tr>
    {% endif %}
    {% if document_code == '4' %}
    <tr><th>Удостоверение личности офицера:</th><td colspan="2">{% if series %}{{ series }} {% endif %}{{ number }}</td></tr>
    {% endif %}
    {% endif %}
    <tr><th colspan="3"><h4>ВЫ ЗАПИСАНЫ НА ПРИЕМ:</h4></th></tr>
    <tr><th>Лечебное учреждение:</th><td colspan="2">{{ current_lpu_title }},<br/>{{ address }},<br/>телефон: {{ current_lpu_phone }}</td></tr>
    <tr><th>Врач:</th><td colspan="2">{{ doctor }}<br/>({{ speciality }})</td></tr>
    <tr><th>Дата и время приёма:</th><td colspan="2">{{ date }} {{ start_time }} - {{ finish_time }}</td></tr>
    <tr><th colspan="3"><h4>ВНИМАНИЕ:</h4></th></tr>
    <tr><td colspan="3">В случае невозможности посещения врача в указанное время, пожалуйста, сообщите об этом лечебному учреждению по контактным данным, указанным в настоящем уведомлении.</td></tr>
    <tr><td colspan="3">С настоящим уведомлением необходимо обратиться в регистратуру лечебного учреждения не менее чем за 15 минут до указанного времени приёма.</td></tr>
</tbody>
</table>
<br />
<div class="no_print" class="form-horizontal">
    <div class="row-fluid no_print">
        <div class="span1 no_print"><button type="button" id="btnPrint" class="btn btn-success btn-large" name="btnPrint" title="Распечатать уведомление о записи на приём" onClick="window.print();">Распечатать</button></div>
        <div class="span1 offset10 no_print"><a href="/" id="button-ready" class="btn btn-large" name="send" title="Завершить запись на приём">Готово</a></div>
    </div>


</div>
</div>
</div>

<script type="text/javascript">$('div.tabb').attr('class', 'register');</script>
{% endblock %}
