{% extends "base.html" %}

{% block content %}
<div class="alert alert-info"><h4>Выберите подразделение, специализацию и врача из списка ниже</h4></div>
<blockquote>
    <dl class="dl-horizontal">
        <dt>Лечебное учреждение:</dt><dd>{{ current_lpu.name }}</dd>
        {% if current_lpu.phone %}<dt>Телефон:</dt><dd>{{ current_lpu.phone }}</dd>{% endif %}
        {% if current_lpu.email %}<dt>Электронная почта:</dt><dd><a href="mailto:{{ current_lpu.email }}">{{ current_lpu.email }}</a></dd>{% endif %}
    </dl>
</blockquote>
<div class="well well-small">
<div class="row-fluid">
<div class="span3">
    <ul class="firstTable nav nav-pills nav-stacked">
    <li class="nav-header">Выбор подразделения</li>
        {% for subdivision in subdivision_list %}
            <li><a id="{{ subdivision.id }}" href="javascript:;" class="spec">{{ subdivision.name }}{% if subdivision.address %}<br>({{ subdivision.address }}){% endif %}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="span4">
    <ul class="secondTable nav nav-pills nav-stacked"></ul>
</div>
<div class="span5">
    <ul class="thirdTable nav nav-pills nav-stacked"></ul>
</div>
</div>
</div>
<a href="{% url medical_institution %}" class="btn btn-primary btn-large">Вернуться</a>
<script type="text/javascript">
    $(document).ready(function () {
        $("body").on({
            ajaxStart: function() {
                $(this).addClass("loading");
            },
            ajaxStop: function() {
                $(this).removeClass("loading");
            }
        });
    });
</script>
{% endblock %}