{% extends "base.html" %}

{% block content %}
<blockquote>
    <dl class="dl-horizontal">
        <dt>Лечебное учреждение:</dt><dd>{{ current_lpu.title }}</dd>
        <dt>Телефон:</dt><dd>{{ current_lpu.phone }}</dd>
        <dt>Электронная почта:</dt><dd><a href="mailto:{{ current_lpu.email }}">{{ current_lpu.email }}</a></dd>
    </dl>
</blockquote>
<div class="well">
<div class="row-fluid">
<div class="span4">
    <ul class="firstTable nav nav-pills nav-stacked">
        {% for subdivision in subdivision_list %}
            <li><a id="{{ subdivision.1.0 }}" href="javascript:;" class="spec">{{ subdivision.0 }} {% if subdivision.1.1 %}({{ subdivision.1.1 }}){% endif %}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="span4">
    <ul class="secondTable nav nav-pills nav-stacked"></ul>
</div>
<div class="span4">
    <ul class="thirdTable nav nav-pills nav-stacked"></ul>
</div>
</div>
</div>
<a href="{% url medical_institution %}" class="btn btn-primary btn-large">Вернуться</a>
{% endblock %}