{% extends "base.html" %}


{% block content %}

<p>{{ current_podrazd }}</p>
<p>{{ prof }}</p>
<p>{{ docName }}</p>

<p><a href="{% url vremya %}prev/">Предудущая</a> - <a href="{% url vremya %}next/">Следующая</a></p>

{% if ticketTable %}

<form action="{% url pacient %}" method="post">
<table border="1">

    <tr>
        {% for date in dates %}
        <th>
            {{ date|date:"d.n, D" }}
        </th>
        {% endfor %}
    </tr>

    {% for row in ticketTable %}
    <tr>
        {% for cell in row %}
        <td align="center">
            {% if cell.status == 'free' %}
                <button type=submit name=ticket value="{{ cell.start.date|date:"d:m:Y" }}-{{ cell.start.time }}-{{ cell.finish.time }}">
                    {{ cell.start.time|time:"H:i" }}
                </button>
            {% elif cell.status == 'locked'%}
                Забронировано
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        {% for date in dates %}
        <th>
            {{ date|date:"d.n, D" }}
        </th>
        {% endfor %}
    </tr>

</table>
    <input type=hidden name=doc_name value="123456789">
</form>
{% else %}
<p>Расписания на текущую неделю нет.</p>
{% endif %}


<p><a href="{% url vrach %}">Назад</a></p>
{% endblock %}