{% extends "base.html" %}


{% block content %}

<p>{{ current_podrazd }}</p>
<p>{{ prof }}</p>
<p>{{ docName.lastName }} {{ docName.firstName }} {{ docName.patronymic }}</p>


{% if ticketTable %}

<p><a href="{% url vremya vremya='000' %}">Предудущая</a> - <a href="{% url vremya vremya='00' %}">Следующая</a></p>

<table border="1">

    <tr>
        {% for date in dates %}
        <th>
            {{ date|date:"d.n, D" }}
        </th>
        {% endfor %}
    </tr>

    {% for row in ticketTable %}
    <tr>
        {% for cell in row %}
        <td>
            <a href="{% url pacient pacient='00' %}">{{ cell.start.time }}{{ cell.status }}</a>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        {% for date in dates %}
        <th>
            {{ date|date:"d.n, D" }}
        </th>
        {% endfor %}
    </tr>

</table>
{% else %}
<p>Расписания на текущую неделю нет.</p>
{% endif %}


<p><a href="{% url vrach %}">Назад</a></p>
{% endblock %}