<!DOCTYPE html>
<html lang="ru">
	<head>
        {% include 'infokiosk/_header.html' %}
        <title>Страница не найдена</title>
	</head>
	<body>
    <div class="container">
    <section>
		{% block content %}
        <legend><h3>Страница не найдена</h3></legend>
        <p>Извините, запрошенная вами страница не найдена.</p>
        <h4><a href="{{ url_for('infokiosk.index') }}" title="На главную страницу">На главную</a></h4>
        {% endblock %}
    </section>
	</div>
      {% include 'infokiosk/_footer.html' %}
	</body>
</html>