    <div id="footer">
        <div class="container">
            {%- if session.get('step') == 2 -%}
                <a href="{{ url_for('.index') }}" class="btn btn-large" title="На главную страницу"><i class="icon-chevron-left"></i> В начало</a>
            {%- elif session.get('step') == 3 -%}
                <a href="{{ url_for('.index') }}" class="btn btn-large"><i class="icon-chevron-left"></i> В начало</a>
                <a href="{{ url_for('.lpu', okato=session.get('okato')) }}" class="btn btn-large"><i class="icon-chevron-left"></i> К выбору мед.учреждения</a>
            {%- elif session.get('step') == 4 -%}
                <a href="{{ url_for('.index') }}" class="btn btn-large"><i class="icon-chevron-left"></i> В начало</a>
                <a href="{{ url_for('.division', lpu_id=session.get('lpu_id')) }}" class="btn btn-large"><i class="icon-chevron-left"></i> К выбору подразделения</a>
            {%- elif session.get('step') == 5 -%}
                <a href="{{ url_for('.index') }}" class="btn btn-large"><i class="icon-chevron-left"></i> В начало</a>
                <a href="{{ url_for('.specialities', lpu_id=session.get('lpu_id'), department_id=session.get('department_id')) }}" class="btn btn-large"><i class="icon-chevron-left"></i> К выбору специализации</a>
            {%- elif session.get('step') == 6 -%}
                <a href="{{ url_for('.index') }}" class="btn btn-large"><i class="icon-chevron-left"></i> В начало</a>
                <a href="{{ url_for('.doctors', lpu_id=session.get('lpu_id'), department_id=session.get('department_id'), sp=doctor.speciality) }}" class="btn btn-large"><i class="icon-chevron-left"></i> К выбору врача</a>
            {%- elif session.get('step') == 7 -%}
                <a href="{{ url_for('.index') }}" class="btn btn-large"><i class="icon-chevron-left"></i> В начало</a>
                <a href="{{ url_for('.tickets', lpu_id=request.view_args.get('lpu_id'), department_id=request.view_args.get('department_id'), doctor_id=request.view_args.get('doctor_id')) }}" class="btn btn-large"><i class="icon-chevron-left"></i> К расписанию</a>
            {%- elif session.get('step') == 8 -%}
            {%- endif -%}
        </div>
    </div>