<meta content="ru-ru" http-equiv="Content-Language" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Электронная регистратура{% endblock %}</title>

<link href="{{ url_for('.static', filename='i/favicon.ico') }}" rel="icon" type="image/x-icon" />
<link href="{{ url_for('.static', filename='i/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />

<link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/jquery-ui/blitzer/jquery-ui-1.9.1.custom.min.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}" media="screen" />
<link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/print.css') }}" media="print" />
<!--[if IE 6]>
    <link type="text/css" href="{{ url_for('.static', filename='css/ie6.min.css') }}" rel="stylesheet">
<![endif]-->