{% extends "infokiosk/base.html" %}

{% block content %}
<blockquote class="red">{{ lpu.name }}{% if lpu|attr('buildings') and lpu.buildings[0] %}, {{ lpu.buildings[0]|attr('name') }}{% if lpu.buildings[0]|attr('address') %} ({{ lpu.buildings[0]|attr('address') }}){% endif %}{% endif %}<br />
{% if lpu.phone %}<small>Телефон: {{ lpu.phone }}</small>{% endif %}
{% if speciality %}{{ speciality }}{% endif %}
</blockquote>
<div class="well well-small">Выберите врача из представленного списка</div>
{% if doctors %}
<div class="row-fluid">
    {%- for columns in doctors|slice(2) -%}
    <div class="span6">
        <ul class="unstyled menu">
        {%- for doctor in columns -%}
        <li class="clearfix"><a href="{{ url_for('.tickets', lpu_id=lpu_id, department_id=department_id, doctor_id=doctor.uid) }}" class="btn btn-large btn-info span12"><small>{{ doctor.name }}</small></a></li>
        {%- endfor -%}
        </ul>
    </div>
    {%- endfor -%}
</div>
{% else %}
    <div class="alert alert-error">Данные по врачам отсутствуют, попробуйте зайти на страницу позже или выберите другое медицинское учреждение.</div>
{% endif %}
{% endblock %}