{% extends "infokiosk/base.html" %}

{% block content %}
<blockquote class="red">{{ lpu.name }}{% if lpu|attr('buildings') and lpu.buildings[0] %}, {{ lpu.buildings[0]|attr('name') }}{% if lpu.buildings[0]|attr('address') %} ({{ lpu.buildings[0]|attr('address') }}){% endif %}{% endif %}<br />
{% if lpu.phone %}<small>Телефон: {{ lpu.phone }}</small>{% endif %}
{% if doctor.speciality %}<small>{{ doctor.speciality }}</small>{% endif %}
{% if doctor %}{{ doctor.get('lastName') }} {{ doctor.get('firstName') }} {{ doctor.get('patronymic') }}{% endif %}{% if office is defined and office %} (кабинет: {{ office }}){% endif %}<br/>
Дата и время приёма: {{ date|dateformat('dd.M.y', rebase=False) }} {{ start_time|datetimeformat('H:mm', rebase=False) }} - {{ finish_time|datetimeformat('H:mm', rebase=False) }}
</blockquote>
{%- with errors = get_flashed_messages(category_filter=["error"]) -%}
  {%- if errors -%}
    <div class="alert alert-error" title="Ошибка записи">
        <strong>Ошибка записи!</strong>
        <ul class="unstyled no-vmargin">
        {%- for error in errors -%}
          <li>{{ error }}</li>
        {%- endfor -%}
        </ul>
    </div>
  {%- endif -%}
{%- endwith -%}
{%- if form.errors -%}
<div class="alert alert-error" title="Ошибка заполнения формы">
    <strong>Форма заполнена некорректно</strong>
    <ul class="unstyled no-vmargin">
        {%- for field_name in form.errors -%}
            {%- for error in form.errors[field_name] -%}
                <li>{{ form[field_name].label(class="inline") }}: {{ error }}</li>
            {%- endfor -%}
        {%- endfor -%}
    </ul>
</div>
{%- endif -%}
{%- with messages = get_flashed_messages(category_filter=["info"]) -%}
  {%- if messages -%}
    <div class="alert alert-success" title="Сообщение">
        <ul class="unstyled no-vmargin">
        {%- for message in messages -%}
          <li>{{ message }}</li>
        {%- endfor -%}
        </ul>
    </div>
  {%- endif -%}
{%- endwith -%}
<form id="patient_form" action="" method="post" name="frm" class="form-horizontal">
    {{ form.csrf_token }}
    <input type="hidden" name="ticket" value="{{ ticket }}" />
    <div id="step1" class="input_container control-group">
        <legend><big>Ваша фамилия</big></legend>
        {{ form.lastname(class="span12", autocomplete="off", value=session.get('lastname', '')) }}
    </div>
    <div id="step2" class="input_container hide control-group">
        <legend><big>Ваше имя</big></legend>
        {{ form.firstname(class="span12", autocomplete="off", value=session.get('firstname', '')) }}
    </div>
    <div id="step3" class="input_container hide control-group">
        <legend><big>Ваше отчество</big></legend>
        {{ form.patronymic(class="span12", autocomplete="off", value=session.get('patronymic', '')) }}
    </div>
    <div id="step4" class="input_container hide control-group">
        <legend><big>Дата рождения</big></legend>
        <div class="text-center">
        {{ form.day(class="day_month text-center", id="dd", autocomplete="off", value=session.get('day', ''), maxlength=2) }}
        {{ form.month(class="day_month text-center", id="mm", autocomplete="off", value=session.get('month', ''), maxlength=2) }}
        {{ form.year(class="year text-center", id="yy", autocomplete="off", value=session.get('year', ''), maxlength=4) }}
        </div>
    </div>

    <div id="step5" class="input_container hide control-group">
        {% include 'infokiosk/__documents_select.html' %}
    </div>

    <div id="error" class="alert alert-error hide">Некорректно заполнены данные</div>
    {% include 'infokiosk/_virtual_keyboard.html' %}

    <div class="well well-small">
        <div class="row-fluid">
            <div class="span6"><button type="button" id="btn-step-bkwrd" class="btn btn-large btn-danger hide"><i class="icon-white icon-chevron-left"></i> Назад</button></div>
            <div class="span6 text-right">
                <button type="button" id="btn-step-frwrd" class="btn btn-large btn-success" disabled>Далее <i class="icon-white icon-chevron-right"></i></button>
                <button type="submit" id="btn-submit" class="btn btn-large btn-success hide" disabled><i class="icon-white icon-ok"></i> Записаться</button>
            </div>
        </div>
    </div>
</form>
<div class="well well-small small-text">
<p>Указывая свои данные на данной странице я даю согласие на автоматизированную обработку в выбранном лечебно-профилактическом учреждении указанной информации (Фамилия, имя, отчество, дата рождения и номер полиса ОМС) для записи на прием в медико-профилактических целях для установления медицинского диагноза и оказания медицинских услуг.</p>
Мое согласие на автоматизированную обработку указанной информации распространяется на осуществление всех действия с ней, включая сбор, передачу по сетям связи общего назначения, накопление, хранение, обновление, изменение, использование, обезличивание, блокирование, уничтожение и обработку посредством внесения в электронную базу данных, систематизации, включения в списки и отчетные формы.
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
var step = 1;
$(document).ready(function(){
    check_btn();
    function check_input(step){
        var $inputs = $('#step'+step).find('input');
        var result = false;
        $inputs.each(function(index){
            $(this).parent('div.input_container').removeClass('error');
            if (!$(this).val()){
                $(this).parent('div.input_container').addClass('error');
                result = false;
                return false;
            }
            result = true;
        });
        return result;
    }
    function check_btn(){
        var $inputs = $('#step'+step).find('input');
        var btn;
        if (step == 7){
            btn = $('#btn-submit');
        } else {
            btn = $('#btn-step-frwrd');
        }
        $inputs.each(function(){
            $(this).on('change', function(){
                if ($(this).val()){
                    btn.removeAttr('disabled');
                }else{
                    btn.attr('disabled', "disabled");
                }
            });
        });
    }
    function change_step(newvalue){
        step = newvalue;
        $('#btn-step-frwrd').addClass('disabled');
        check_btn();
        if(step==1){
            $('#btn-step-bkwrd').hide();
        }else if(step==2){
            $('#btn-step-bkwrd').show();
        }else if (step == 7){
            $('#btn-step-frwrd').hide();
            $('#btn-submit').show();
        }
        if (step == 4){
            $('#letters').hide();
            $('#digits').show();
        }else{
            $('#letters').show();
            $('#digits').hide();
        }
    }
    $('#btn-step-frwrd').click(function(){
        if(check_input(step)){
            $('#step'+step).hide();
            change_step(step + 1);
            if($('#step'+step)){
                $('#step'+step).show();
            }
        }
    });
    $('#btn-step-bkwrd').click(function(){
        $('#step'+step).hide();
        change_step(step - 1);
        $('#step'+step).show();
    });
});
</script>
{% endblock %}